<div style="height: 100%;">
  <ion-row >
    <ion-col>
      <ion-button (click)="Seleccionar('1')" class="boton" [color]="numero==1 ? 'light':'medium'">
        <h1>1</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('2')" class="boton" [color]="numero==2 ? 'light':'medium'">
        <h1>2</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('3')" class="boton" [color]="numero==3 ? 'light':'medium'">
        <h1>3</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="back">
    <ion-col>
      <ion-button (click)="Seleccionar('4')" class="boton" [color]="numero==4 ? 'light':'medium'">
        <h1>4</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('5')" class="boton" [color]="numero==5 ? 'light':'medium'">
        <h1>5</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('6')" class="boton" [color]="numero==6 ? 'light':'medium'">
        <h1>6</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="back">
    <ion-col>
      <ion-button (click)="Seleccionar('7')" class="boton" [color]="numero==7 ? 'light':'medium'">
        <h1>7</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('8')" class="boton" [color]="numero==8 ? 'light':'medium'">
        <h1>8</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('9')" class="boton" [color]="numero==9 ? 'light':'medium'">
        <h1>9</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="back">
    <ion-col>
      <ion-button (click)="Home()" class="boton" color="dark">
          <ion-icon color='danger' slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('0')" class="boton" [color]="numero==0 ? 'light':'medium'">
        <h1>0</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Escuchar()" class="boton" color="dark">
          <ion-icon color='success' slot="icon-only" name="volume-high"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>
