<ion-fab class="idiomas" horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button>
      <img [src]="idioma" style="height: 100%;">
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light" *ngFor="let i of idiomas" (click)="cambiarIdioma(i)">
        <img [src]="i.foto" style="height: 100%;">
      </ion-fab-button>          
    </ion-fab-list>
  </ion-fab>
<div style="height: 100%;">
    <ion-row class="back">
        <ion-col>
          <ion-button (click)="Home()" class="boton" color="medium">
              <ion-icon color='primary' slot="icon-only" name="arrow-round-back"></ion-icon>
          </ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button (click)="Seleccionar('0')" class="boton" [color]="numero==0 ? 'warning':'medium'">
            <h1>0</h1>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="Escuchar()" class="boton" color="medium">
              <ion-icon color='primary' slot="icon-only" name="volume-high"></ion-icon>
          </ion-button>
        </ion-col> -->
      </ion-row>
  <ion-row >
    <ion-col>
      <ion-button (click)="Seleccionar('1')" class="boton" [color]="numero==1 ? 'warning':'medium'">
        <h1>1</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('2')" class="boton" [color]="numero==2 ? 'warning':'medium'">
        <h1>2</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('3')" class="boton" [color]="numero==3 ? 'warning':'medium'">
        <h1>3</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="back">
    <ion-col>
      <ion-button (click)="Seleccionar('4')" class="boton" [color]="numero==4 ? 'warning':'medium'">
        <h1>4</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('5')" class="boton" [color]="numero==5 ? 'warning':'medium'">
        <h1>5</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('6')" class="boton" [color]="numero==6 ? 'warning':'medium'">
        <h1>6</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="back">
    <ion-col>
      <ion-button (click)="Seleccionar('7')" class="boton" [color]="numero==7 ? 'warning':'medium'">
        <h1>7</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('8')" class="boton" [color]="numero==8 ? 'warning':'medium'">
        <h1>8</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('9')" class="boton" [color]="numero==9 ? 'warning':'medium'">
        <h1>9</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  
</div>
