<div style="height: 100%;">
  <ion-row >
    <ion-col>
      <ion-button (click)="Seleccionar('1')" class="boton" [color]="animal==1 ? 'light':'medium'">
        <h1>🐈</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('2')" class="boton" [color]="animal==2 ? 'light':'medium'">
        <h1>🐁</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('3')" class="boton" [color]="animal==3 ? 'light':'medium'">
        <h1>🐅</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="back">
    <ion-col>
      <ion-button (click)="Seleccionar('4')" class="boton" [color]="animal==4 ? 'light':'medium'">
        <h1>🐘</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('5')" class="boton" [color]="animal==5 ? 'light':'medium'">
        <h1>🐉</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('6')" class="boton" [color]="animal==6 ? 'light':'medium'">
        <h1>🐊</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="back">
    <ion-col>
      <ion-button (click)="Seleccionar('7')" class="boton" [color]="animal==7 ? 'light':'medium'">
        <h1>🐕</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('8')" class="boton" [color]="animal==8 ? 'light':'medium'">
        <h1>🐖</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('9')" class="boton" [color]="animal==9 ? 'light':'medium'">
        <h1>🦈</h1>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="back">
    <ion-col>
      <ion-button (click)="Home()" class="boton" color="dark">
          <ion-icon color='danger' slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Seleccionar('0')" class="boton" [color]="animal==0 ? 'light':'medium'">
        <h1>🐒</h1>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="Escuchar()" class="boton" color="dark">
          <ion-icon color='success' slot="icon-only" name="volume-high"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>
