@media only screen and (min-width: 451px) {
    .fila {
      height: 20%;
    }
  
    .celda {
      height: 100%;
      width: 33.33%;
      border-style: dashed;
      border-color: rgb(224, 42, 42);
      background-color: rgba(207, 199, 78, 0.605);
      float: left;
    }
  
    h1 {
      align-content: center;
      font-family: "Stencil Std", fantasy;
      font-size: 40px;
    }
    ion-row{
      align-items: stretch;
      background-color: white;
      height: 20%;
  }
  }
  
  @media only screen and (max-width: 450px) {
    .fila {
      height: 22%;
    }
  
    .celda {
      height: 100%;
      width: 33.33%;
      border-style: dashed;
      border-color: rgb(224, 42, 42);
      float: left;
    }
    h1 {
      align-content: center;
      font-family: "Stencil Std", fantasy;
      font-size: 90px;
    }
  
    ion-row{
      align-items: stretch;
      background-color: white;
      height: 22%;
      }
  }
  
  ion-button{
      width: 100%;
      height: 100%;
  }
  ion-icon {
      font-size: 50px; //Preferred size here
  }
  
  ion-col{
      height: 100%;
      width: 33%;
  }

  .idiomas{
    position: absolute;
    right: 0.5em;
    top: 3em;
  }