<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="container" color='danger'>
        <div>
          <h2 class='text'>Iniciar Sesión</h2>
        </div>
        <img class="icon" src="assets/icon/idiomas.jpeg">

      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item shape="round">
        <ion-label position="floating">
          <ion-text>
            <h4>
              Correo Electronico
            </h4>
          </ion-text>

        </ion-label>
        <ion-input clear-input type='text' [(ngModel)]='email'></ion-input>
      </ion-item>

      <ion-item shape="round">
        <ion-label position="floating">
          <ion-text>
            <h4>
              Contraseña
            </h4>
          </ion-text>

        </ion-label>
        <ion-input clearInput type='password' [(ngModel)]='password'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-button expand="full" (click)='OnSubmitLogIn()' shape="round" color='success' fill="outline">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            Aceptar
          </ion-button>
        </ion-label>

      </ion-item>
      <ion-item >
        <ion-label>
        <ion-button expand="full" (click)='Rellenar("admin",111111)' color='danger'>
          <ion-icon slot="start" name="person"></ion-icon>
          Administrador
        </ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button expand="full" (click)='Rellenar("tester",555555)' color='danger'>
          <ion-icon slot="start" name="person"></ion-icon>
          Testeador
        </ion-button>
      </ion-label>
      <ion-label>
        <ion-button expand="full" (click)='Rellenar("invitado",222222)' color='danger'>
          <ion-icon slot="start" name="person"></ion-icon>
          Invitado
        </ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button expand="full" (click)='Rellenar("usuario",333333)' color='danger'>
          <ion-icon slot="start" name="person"></ion-icon>
          Usuario
        </ion-button>
      </ion-label>
      <ion-label>
        <ion-button expand="full" (click)='Rellenar("anonimo",444444)' color='danger'>
          <ion-icon slot="start" name="person"></ion-icon>
          Anonimo
        </ion-button>
      </ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>