<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="container" color='danger'>
        <div>
          <h2 class='text'>Iniciar Sesión</h2>
        </div>

      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item shape="round">
        <ion-label position="floating">
          <ion-text>
            <h4>
              Correo Electrónico
            </h4>
          </ion-text>

        </ion-label>
        <ion-input clear-input type='text' [(ngModel)]='email'></ion-input>
      </ion-item>

      <ion-item shape="round">
        <ion-label position="floating">
          <ion-text>
            <h4>
              Contraseña
            </h4>
          </ion-text>

        </ion-label>
        <ion-input clearInput type='password' [(ngModel)]='password'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <ion-button expand="full" (click)='OnSubmitLogIn()' shape="round" color='success' fill="outline">
            <ion-icon slot="start" name="checkmark"></ion-icon>
            Aceptar
          </ion-button>
        </ion-label>

      </ion-item>
      <ion-item>
        <ion-chip class="chip" color="primary" expand="full" (click)='Rellenar("admin",111111)'>
          <ion-avatar>
            <img src="../../assets/icon/user.png">
          </ion-avatar>
          <ion-label>Administrador</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <ion-chip class="chip" color="danger" expand="full" (click)='Rellenar("tester",555555)'>
          <ion-avatar>
            <img src="../../assets/icon/user.png">
          </ion-avatar>
          <ion-label>Testeador</ion-label>
        </ion-chip>
        <ion-chip class="chip" color="danger" expand="full" (click)='Rellenar("invitado",222222)'>
          <ion-avatar>
            <img src="../../assets/icon/user.png">
          </ion-avatar>
          <ion-label>Invitado</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item>
        <ion-chip class="chip" color="success" expand="full" (click)='Rellenar("usuario",333333)'>
          <ion-avatar>
            <img src="../../assets/icon/user.png">
          </ion-avatar>
          <ion-label>Usuario</ion-label>
        </ion-chip>
        <ion-chip class="chip" color="success" expand="full" (click)='Rellenar("anonimo",444444)'>
          <ion-avatar>
            <img src="../../assets/icon/user.png">
          </ion-avatar>
          <ion-label>Anonimo</ion-label>
        </ion-chip>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>